* body{
    margin: 0px;
    padding: 0px;
}
#topo{
    width: 780px;
    height: 100px;
    background-color: aqua;
}
#logo{
    width: 200px;
    height: 100px;
    background-color: rgb(7, 217, 130);
    float: left;;
}
#menu{
    width: 780;
    height: 100px;
    background-color: blueviolet;
    float: right
}
#banner{
    width: 700px;
    height: 400px;
    background-color: brown;
    margin: auto;
}